.sidebar {
  position: fixed;
  top: 0;
  width: 330px;
  height: 100%;
  background-color: #222222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transition: left 0.1s ease, right 0.1s ease;
  color: white;
}

.sidebar.left {
  left: -340px;
  right: auto;
  
  &.show {
    left: 0;
  }
}

.sidebar.right {
  right: -340px;
  left: auto;

  &.show {
    right: 0;
  }
}

.sidebar .slider {
  width: 100%;
  margin: 5px 0px 0px 0px;
}

.center-text {
  text-align: center;
}

.theme-squares {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.theme-square {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #000;
}

.theme-square:hover {
  border-color: yellow;
}

.setting {
  padding: 10px 20px;
  border: 2px solid #505050;

  +.setting {
    margin-top: -2px;
  }

  &:hover {
    background-color: #ffffff0e;
    outline: 2px solid rgba(255, 255, 255, 0.377);
    outline-offset: -2px;
    z-index: 1;
  }
}

.sidebar input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-left: 0px;
}

.checkbox-container label {
  align-content: center;
  cursor: pointer;
}

.sidebar button, .sidebar input {
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  align-items: center;
}