:root {
    --card-padding: 10px;
}

html,
body {
    margin: 0;
}

body {
    background-color: #191919;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    letter-spacing: .03rem;
    min-height: 100vh;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    margin: 0;
    padding: var(--card-padding);
    line-height: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}

.hide-filenames .card-text {
    visibility: hidden;
    display: none;
}

.card-text {
    font-size: 24px;
    color: whitesmoke;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    text-wrap: nowrap;
}

.point-filter {
    image-rendering: pixelated;
}

#info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(196, 196, 196);
    background-color: rgba(55, 55, 55, 0.9);
    padding: 10px 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px -6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    color: rgb(255, 242, 225);
    text-align: center;
    line-height: 1.5;

    h2 {
        color: rgb(255, 249, 241);
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}